.skkrt {
    width: 1000px;
  }
  
.skkrtSkkrt {
    text-align: center; 
    font-family: helvetica; 
    background: rgb(48, 48, 48);
    color: rgb(255, 255, 255);
    font: 400;
}

a {
    color: hotpink;
}